language: java
install: true
dist: trusty
after_success:
    - "./gradlew coveralls"

before_deploy:
        - "./gradlew assemble website"
deploy:
    skip_cleanup: true
    on:
        tags: true
    - provider: releases
      api_key:
        secure: dEolMpa639YJvocR44Qltm3SJ3AyFMNL9W8/ODwI1xI5lmZv4uMVkiiy6YWMjsphvq1+ATNv11fXcHRCCaQyP4Tddz43TLzUhvaOKBfPagnT0N/9mUkUX3XbzaIWT+9kqO9XdcqkLJbppF4Xj/p3ICivwENvqbarQjPzAAUpVax/LLxhf5rMErdktJu1nmd57YJdBElZyq5j4lYzUvXoLNyTuEc7DOKZwPAUGk8qvqcofVbDdoR4obk4y/LsuApf967y6+Re/4I7kcNVNYF4UfA/sGSd5O4yRp5VjpP2UAsYy6D965fCafCVIEb7xobgoIluwp7jbCRSA9PrK/jfvfD0BLKQgVpTSoBItOZMhggrSfdDmE0xn/y9GLcGIscjvaYxmSn0/5TTwhQgFQza9YXSozRZlCzbSjZLth8+CbkM09zler01+pi5B0h/QskYTIaIdbWGC8Ux1TrneCN4N1qEJQarfMtbtYh3bq9tNVuDb83r0bqygpioTWd6kdWjV03ECEG4+TufZYtBduBQPi+BbAcN8mlGjXCRulGdMOAtYtOttuvU/vgSWFWoUCIwrqwt/aGN8tjX5l+MwVWWS7SGLjF1J3cUgYde1axEZPKJHzlghtBjH1+UQ9bwpPdNb1Bhy5AI1Iz45nxjvkyhXrOdpYfvUuHH/cM18tdFUr8=
      file_glob: true
      file:
        - build/distributions/opt4j-*.tar
        - build/distributions/opt4j-*.zip
      keep-history: true
    - provider: pages
      github-token: $GITHUB_TOKEN
      keep-history: true
      local-dir: ./build/website
