body {
    position: absolute;
    background: #FFFFFF;
    color: #111111;
    margin: 0px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 10pt;
    width: 800px;
}

.book > div {
	padding-left: 20px;
	padding-right: 20px;
}

.application {
	font-variant: small-caps;
}

h2 {
  font-size: 12pt;
  font-weight: 600;
  font-variant: small-caps;
  margin: 0px;
}

h3 {
  font-size: 12pt;
  font-weight: 600;
  font-variant: small-caps;
  margin: 0px;
}

h4 {
  font-size: 10pt;
  font-weight: 600;
  font-variant: small-caps;
  margin: 0px;
}

.footnotes {
	text-align: right;
	margin-right: -20px;
}

.footnotes hr {
	display: block; 
  width: 250px;
  border:none;
  height:5px;
  margin: 0px;
  background-color: #595959;
  float: right;
}

.titlepage > hr {
	margin-left: -20px;
	margin-right: -20px;
  display: block;
  border:none;
  height:13px;
  margin-bottom: 20px;
  background: url(http://opt4j.sourceforge.net/design/img/top_hr.png) left repeat-x;
}

.subtitle {
  margin: 0px;
  font-size: 12pt;
  font-variant: small-caps;
  color: #F28226;
}

a {
  color: #111111;
  text-decoration: underline;
}

a:hover {
  color: #F28226;
  text-decoration: underline;
}

.section {
}

div.chapter, div.preface {
	background: url(http://opt4j.sourceforge.net/design/img/top_hr.png) repeat-x;
	padding-top: 30px;
}

pre.programlisting {
	background-color: #F0F0F0;
	padding: 10px;
	margin-left: 8px;
	font-size: 9pt;
	border: 2px solid #F28226;
	border-left-width: 0px;
	border-right-width: 0px;
	overflow: auto;
}

.figure {
	padding-left: 50pt;
}

p {
	padding-left: 8px;
}